body {
  background-color: #17203f;
}

div {
  color: white;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #6c757d;

}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;



}

.search-con {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.menu_items {
  border: none;
  padding: 20px;
}

.menu_items:hover {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .45rem;
  background: #0e121f;
}

.menu_items {
  background-color: #17203f;
  color: white;
}

.menu_container {
  background-color: #17203f;
  color: white;
}

.menu_col {
  margin-bottom: 30px;
}

.item-image {
  border-radius: 10px;
}

.menu_head_col {
  padding: 30px;
  padding-bottom: 15px;
}

.fav-button {
  float: right;
  margin: 10px;
  background-color: yellow;
  color: red;
}

.item_name {
  font-size: 15px;
}

.item_description {
  font-size: 14px;
}

.search_button {
  margin-left: 15px;
}

.header-con {
  background-color: #171a29;
}

.head-icon {
  padding-right: 10px;
}

.nav_li_item:hover {
  border: 1px solid #546BBB;
  border-radius: .25rem;
  background-color: #02134E;



}

.nav-item {
  color: white;
  padding-right: 10px;
  font-size: 20px;
}

.drop_down {
  border-radius: 0px;
}

.hr_ {
  border-color: white;
}

.loader-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-container {
  background-color: #fefeff;
  margin-top: 30px;
  border-radius: 10px;
}

.detail-item {
  font-size: 20px;
}

.fl-r {
  float: right;
}

.plot {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
}

.plot-details {
  font-size: 20px;
}

.box-1 {
  background: #0e1940;
  padding: 10px;
  border-radius: 10px;
}

.plot-con {
  background: #0e1940;

  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.det-sm {
  font-size: 20px;
}

.det {
  font-size: 24px;
}

.box3 {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #0e1940;
  border-radius: 15px;
}

.header-deatail {
  color: black;
}

.rat {
  float: right;
  font-size: 25px;
}

.gol-icon {
  margin-right: 5px;
  color: goldenrod;
  font-size: 40px;
}

.outof {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .search-con {
    width: 90%;
  }

  .det-img-con {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .detail-container {
    width: unset;
    margin: 20px;
  }
}

.det-image {
  width: 100%;
}